{% extends 'filmdb/base.html' %}

{% load staticfiles %}

{% block title %}Browse Films{% endblock %}
{% block body_block %}

<nav class="navbar navbar-default navbar-fixed">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
               {% for ALPHA in alpha %}
                    <strong><a href="#{{ ALPHA }}">{{ ALPHA }}</a></strong> |
                {% endfor %}
          </div>
      </div>

  </div>
</nav>

<div class="container">
      <div class="jumbotron">


        {% if filled %}
          {% for ALPHA in alpha %}
            <div class="row">
            <h2><a name="{{ ALPHA }}">{{ ALPHA }}</a></h2>
            <p style="border-style:solid;border-color:black;border-width:1px"></p>


            </div>
            <div class="row">
                {% for f in ALPHA %}
                    {% for i in S %}
                        {{ i.title }} <img src="{{ i.poster }}">
                    {% endfor %}
                {% endfor %}
            </div>

          {% endfor %}
        {% endif %}





          </div>
      </div>
</div>



{% endblock %}