{% extends 'filmdb/base.html' %}

{% load staticfiles %}

{% block title %}{{ film.title }}{% endblock %}
{% block body_block %}


<div class="container">
      <div class="jumbotron">

          <div class="row">

              {% if film %}

                  <div class="col-lg-4">
                      <img src="{{ film.poster }}" width="250" length="450">
                  </div>

                  <div class="col-lg-8">
                      <h3 style="display:inline;">{{ film.title }}</h3> <h4 style="display:inline;">({{ film.released }})</h4>
                     <p>{{ film.type }} | {{ film.rated }} | {{ film.runtime }} | {{ film.imdb_rating }}
                         {% if error %}
                            <span style="color:red;">{{ error }}</span>
                         {% else %}
                         <a href="{% url 'filmdb:watch_page' film.slug %}"><i class="fa fa-play-circle fa-2x"></i></a>
                         {% endif %}
                     </p>
                      <p style="border-style:dotted;border-color:black;border-width:1px"></p>
                      <p> {{ film.plot }} </p>
                  </div>
              {% else %}
                <strong>No film exists for this title.</strong>
              {% endif %}

          </div>
      </div>
</div>



{% endblock %}