{% extends 'filmdb/base.html' %}

{% load staticfiles %}

{% block title %}Film Database Search Page{% endblock %}
{% block body_block %}


    <div class="container">
      <div class="jumbotron">
        <h1>MovieDB</h1><p>enjoying movies the way you want...</p>
        <br/>
        <br/>

         <div class="row">
            <div class="col-lg-12">

            <form id="movie_search" action="" method="get">

                <div class="input-group">
                  <input type="text" name="moviequery" class="form-control input-lg" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="submit">Search</button>
                  </span>
                </div><!-- /input-group -->
            </form>
            <br/><br/>

            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

          {% if movies %}
              <table cellspacing="20" class="table table-striped">
              {% for movie in movies %}
                <div class="row">

                    <tr><div class="col-lg-3">
                        <td>
                            <img src="{{ movie.poster }}" width="220" length="327">
                        </td></div>

                        <div class="col-lg-9"><td>
                            <h3 style="display:inline;"><a href="{% url 'filmdb:film_page' movie.slug %}">{{ movie.title }}</a></h3> <h4 style="display:inline;">({{ movie.released }})</h4>
                            <p>{{ movie.type }} | {{ movie.rated }} | {{ movie.runtime }} </p>
                            <p style="border-style:dotted;border-color:black;border-width:1px"></p>
                            <p>{{ movie.plot }}</p>
                        </td></div>

                    </tr>

              </div> </table>
            {% endfor %}
          {% endif %}


      </div>
    </div>







{% endblock %}